body {
    background-color: rgb(35, 35, 35);
    font-family: 'Open Sans', sans-serif;
    color: rgb(209, 146, 52);
    margin: 0;
}

#main-header {
    height: 5rem;
    padding: 0 5%;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(209, 146, 52);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

#main-header li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: rgb(209, 146, 52);
    font-size: 1.25rem;
}

nav a:hover {
    color: rgb(197, 126, 19);
}

#menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
}

#menu-btn span {
    background-color: white;
    width: 100%;
    height: 3px;
}

main {
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

#container {
    width: 80%;
    margin: 2rem auto;
}

#container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.food-items {
    background-color: rgb(243, 223, 186);
    border-radius: 5px;
    overflow: hidden;
    list-style: none;
}

.food-items img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.food-item-content {
    padding: 1rem;
}

.food-items p {
    font-size: 30px;
    color: rgb(50, 50, 50);
    margin: 0;
    font-weight: 700;
    margin: 20px 0;
}

.btn {
    color: white;
    text-decoration: none;
    border-radius: 6px;
    padding: .5rem 1.5rem;
    font-weight: 700;
    background-color: rgb(255, 161, 53);
}

.btn:hover {
    background-color: rgb(248, 159, 26);
}

@media (max-width: 48rem) {
    #container ul {
        grid-template-columns: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    nav a {
        display: none;
    }
}

@media (min-width: 48rem) {
    #menu-btn {
        display: none;
    }
}
